{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <div class="profile-container">
            <img class="profile-image" src="https://i.pinimg.com/236x/4b/8e/63/4b8e63ee2be0356877598bef7b9f197e.jpg" alt="user profile picture">
            <h4>{{user.username}}</h4>
            <a href="{% url 'profile_update' user.id %}">Edit Profile</a>
        </div>

        <div class="row">
            <div class="col profile-information">
                <h2>{{user.username}}'s Style Profile </h2>
                <h4>Body Type: {{user.userprofile.body_type}}</h4>
                <h4>Color Palette: {{user.userprofile.color_palette}}</h4>
                <h4>{{user.userprofile.top_styles}}</h4>
               
                
            </div>
            <div class="col profile-stylist">
                <h2>Personal Stylist</h2>
                <h4>{{user.username}}'s Stylist says:</h4>
                <div class="" id="recommendation">

                </div>
                <button class="btn btn--white" id="general">Get Style Tips</button>
            </div>
            <div class="row">
                <div class="col profile-user-style">
                    <h2>Personal Style Tips</h2>
                </div>
            </div>
            
        </div>
        
    </div>
    
   

{% endblock %}