/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Labrada:ital@1&family=Playfair+Display:ital,wght@0,400;0,700;1,600&display=swap');
/* font-family: 'Labrada', serif;
font-family: 'Playfair Display', serif; */

/* setting up color palette */
:root {
    --color-bg: #ffffff;
    --color-main: rgb(251, 108, 180);
    --color-accent: #6fcfff;
    --color-text: #000000;
    
}
* {
    margin: 0 auto ;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Playfair Display', serif;
    

}
a {
    text-decoration: none;
}

/* All Pages  */
.page-title {
    text-align: center;
    margin-top: 30px;
}
/* Buttons */

.btn-accent {
    background-color: var(--color-accent);
    
    border: none;
    border-radius: 10px;
}
.btn-accent a {
    color: var(--color-bg);
}
.btn-accent:hover {
    background-color: var(--color-main);
}

.btn-main {
    background-color: var(--color-main);
    
    border: none;
    border-radius: 10px;
}
.btn-main a {
    color: var(--color-bg);
}
.btn-main:hover {
    background-color: var(--color-accent);
}
.btn--white {
    background-color: rgba(255, 255, 255, 0.714);
    border: 1px solid black;
}
.btn--white a {
    color: black;
}
/* NavBar */

.nav-title {
    font-size: 40px;
    text-align: center;
}


/* Home Page  */
.home-section-divide {
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-top: 20rem;
}
.home-container {
    margin: 0 auto ;
}
.home-section-one {
    display: flex;
    flex-direction: row;
    margin-top: 13rem;
    /* padding: 0; */
}
.home-title {
    z-index: 1000;
    font-weight: 700;
}
#home-1 {
    position: absolute;
    left: 14rem;
}
#home-2 {
    position: absolute;
    top: 7rem;
    text-align: center;
    font-size: 90px;
    padding-right: 6.5rem;
    
}
#home-3 {
    position:absolute;
    left: 51rem;
}

.special-text {
    color: hotpink;
}


.main-carousel {
    width:250px;
}
.slide {
    margin: 0 10px;
    padding: 0
}
.slideshow-two {
    margin-top: 60px;
}

.home-section-two {
    /* background: rgb(250,160,217); */
    /* background: radial-gradient(circle, rgba(250,160,217,1) 5%, rgba(255,255,255,1) 83%); */
    color: var(--color-text);
    margin-top: 15rem;
    height: 700px;
    border-radius: 20px;
}

.home-section-two-title {
    margin-top: 15rem;
    text-align: center;
}
.home-section-two-title h2 {
    font-size: 40px;
}

.home-section-three {
    /* background: rgb(250,160,217); */
    /* background: radial-gradient(circle, rgba(250,160,217,1) 5%, rgba(255,255,255,1) 83%); */
    color: var(--color-text);
    margin-top: 0rem;
    height: 760px;
    border-radius: 20px;
    text-align: center;
}

/* USER PROFILE */
.profile-container {
    
}
.profile-image {
    border-radius: 50%;
    width: 150px;
    justify-self: center;
}
.profile-information {
    background-color: var(--color-main);
    color: white;
    border-radius: 20px;
}
.profile-stylist {
    background-color: var(--color-accent);
    border-radius: 20px;
}





/* Apparel Index */
.index-header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}



.index-container {
    margin-top: 50px;
}
.index-item-container {
    border: 3px solid black;
    width: 200px;
    height: 200px;
}

/* Outfit Index (Inspo) */


/* User Outfit Index*/
.outfit-img {
    border-radius: 50%;
    width: 170px;
}
/* .outfit-container {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/7166555/pexels-photo-7166555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
} */
.outfit-header {
    background-image: url('https://images.pexels.com/photos/1750027/pexels-photo-1750027.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    /* justify-self: center; */
    display: flex;
    align-items: center;
}
.outfit-header-title {
    background-color: rgba(255, 255, 255, 0.538);
    padding: 10px;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.outfit {
    display: flex;
    flex-direction: column;
}
.outfit-title {
    justify-self: center;
}


/* OUTFIT DETAIL */
.outfit-detail-container {
    background-image: url('https://images.pexels.com/photos/4467127/pexels-photo-4467127.jpeg?auto=compress&cs=tinysrgb&w=600');
}
.slides-title {
    text-align: center;
    margin: 30px;
}
.slide-outfit-card {
    width: 250px;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
