{% extends 'base.html' %}
{% block content %}
  <section>
    <div class="index-header container-fluid">
      <h1 class="">{{user.username}}'s Closet Items</h1>
            <div class="links ">
              <a class="btn btn--white" href="{% url 'apparels_create' %}">Add New Clothing</a>
              <a class="btn btn--white" href="{% url 'outfits_user_index' %}">View My Outfits</a>
            </div>
    </div>
  </section>
    
    <section>
      
        <div class="index-container container-lg row ">
            {% for apparel in apparels %}
              <div class="index-item-container ">
                <h4 style="text-align: center;">{{ apparel.name }}</h4>
                <h5 style="text-align: center;"> {{ apparel.brand }} </h5>
                {% for photo in apparel.photo_set.all %}
                  {%if apparel.type == 'S'%}
                    <img style='width:250px;'src="{{photo.url}}" alt="photo of item" class="responsive-img card-panel">
                  {% else %}
                    <img width="200px"  src="{{photo.url}}" alt="photo of item" >
                  {% endif %}
                  
                {% empty %}
                  <div> <img src="https://demofree.sirv.com/nope-not-here.jpg" alt="no image uploaded"></div>
                {% endfor %}
                <a class="btn btn--white"href="{% url 'detail' apparel.id %}">View {{ apparel.name }}</a>
              </div>
            {% endfor %}
        </div>
      
    </section>

{% endblock %}